html
  head
    title Excel To HTML using codebeautify.org
  body
    b
      u API DOCUMENT
      |  :- Sheet1
    hr
    table(cellspacing='0', border='1')
      tbody
        tr(style='height:20px;')
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr Category
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr HTTP Request Type
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr URL
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr Requirements
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr Return
          td(style='font-family:Calibri;text-align:center;font-size:11px;color:#000000;font-weight:bold;min-width:50px')
            nobr Error
        tr(style='height:20px;')
          td(style='text-align:center;min-width:50px', rowspan='6')
            nobr Customer
          td(style='text-align:center;background-color:#CCCCFF;min-width:50px')
            nobr GET
          td(style='min-width:50px')
            nobr /api/customer
          td(style='min-width:50px')
            nobr  
          td(style='min-width:50px')
            nobr Array of Customers
          td(style='min-width:50px')
            nobr {status: ERROR_CODE}
        tr(style='height:20px;')
          td(style='text-align:center;background-color:#CCCCFF;min-width:50px')
            nobr GET
          td(style='min-width:50px')
            nobr /api/customer/{UUID}
          td(style='min-width:50px')
            nobr  
          td(style='min-width:50px')
            nobr {status:0, node: USER_DATA}
          td(style='min-width:50px')
            nobr {status: ERROR_CODE, message: ERROR_MESSAGE}
        tr(style='height:75.6px;')
          td(style='text-align:center;background-color:#339966;min-width:50px')
            nobr POST
          td(style='min-width:50px')
            nobr /api/customer/add
          td(style='min-width:50px')
            nobr
              | fullName: FULLNAME,
              br
              | address: ADDRESS,
              br
              | userName: USERNAME,
              br
              | password: PASSWORD
          td(style='min-width:50px')
            nobr {status:0}
          td(style='min-width:50px')
            nobr {status: ERROR_CODE, message: ERROR_MESSAGE}
        tr(style='height:75.6px;')
          td(style='text-align:center;background-color:#339966;min-width:50px')
            nobr POST
          td(style='min-width:50px')
            nobr /api/customer/edit/{UUID}
          td(style='min-width:50px')
            nobr
              | fullName: FULLNAME,
              br
              | address: ADDRESS,
              br
              | userName: USERNAME,
              br
              | password: PASSWORD
          td(style='min-width:50px')
            nobr {status:0}
          td(style='min-width:50px')
            nobr {status: ERROR_CODE, message: ERROR_MESSAGE}
        tr(style='height:20px;')
          td(style='text-align:center;background-color:#993300;min-width:50px')
            nobr DELETE
          td(style='min-width:50px')
            nobr /api/customer/{UUID}
          td(style='min-width:50px')
            nobr  
          td(style='min-width:50px')
            nobr {status:0}
          td(style='min-width:50px')
            nobr {status: ERROR_CODE, message: ERROR_MESSAGE}
        tr(style='height:20px;')
          td(style='text-align:center;background-color:#CCCCFF;min-width:50px')
            nobr GET
          td(style='min-width:50px')
            nobr /api/customer/del/{UUID}
          td(style='min-width:50px')
            nobr  
          td(style='min-width:50px')
            nobr {status:0}
          td(style='min-width:50px')
            nobr {status: ERROR_CODE, message: ERROR_MESSAGE}
